<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <div ng-bind-html="question"></div>
    </div>


    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="ok()">
                Yes
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>