<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Template</h3>
        <br/>

        <p>
            The Template defines what data is present in the document, whether if it is mandatory
            etc . It is an XML Schema, or XSD - a very well defined format. We'll generate the input screen based on
            this XSD.
        </p>

        <p>
            You don't have to edit this unless you want to add or remove input fields. Leave this dialog if unsure
            what it all means.
        </p>
    </div>
    <div class="panel-body">
        <div ui-codemirror="{ onLoad : codemirrorLoaded }"
             ng-model="formatter.content"
             ui-codemirror-opts="editorOptions">
        </div>
    </div>


    <div class="panel-footer clearfix">
        <alert ng-show="redMessage" type="danger">{{redMessage}}</alert>
        <alert ng-show="greenMessage" type="success">{{greenMessage}}</alert>
        <div ng-show="formatter.editable" class="pull-left">
            <input ng-model="formatter.name"/>
            <button type="button" class="btn btn-small" ng-click="rename()"
                    ng-disabled="!canRename()">
                Rename
            </button>
        </div>
        <div class="pull-right">
            <button ng-show="formatter.editable"
                    type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!canSave()">
                Save & Exit
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>