<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                Input Style
            </div>

            <div class="col-xs-5">
                <select style="width:100%" ng-model="inputCssDocs.current"
                        ng-disabled="editingInputCss"
                        ng-options="item.name for item in inputCssDocs.all track by item.id"
                        ng-change="formatterChanged(inputCssDocs)"/>
                </select>
            </div>
            <div class="col-xs-3">
                <div class="btn-group">
                    <input type="image" src="/img/clone.svg"
                           class="formatter-edit-icon"
                           ng-click="cloneDoc(inputCssDocs)"
                           tooltip="clone"/>
                    <input type="image" src="/img/trash.svg"
                           class="formatter-edit-icon"
                           ng-click="deleteFormatterDlg(inputCssDocs)"
                           ng-disabled="!canEdit(user, inputCssDocs)"
                           tooltip="delete"/>

                    <input type="image" src="/img/pen.svg"
                           class="formatter-edit-icon"
                           ng-click="editDlg(inputCssDocs)"
                           ng-show="canEdit(user, inputCssDocs)"
                           tooltip="edit"/>
                    <input type="image" src="/img/eye.svg"
                           class="formatter-edit-icon"
                           ng-click="viewDlg(inputCssDocs)"
                           ng-show="!canEdit(user, inputCssDocs)"
                           tooltip="view"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" class="formatter-explanation">
                The Input Style defines the layout of both the input form.
                It is CSS 3.
            </div>
        </div>
    </div>
</div>