<!DOCTYPE html>
<html lang="en">
<head>

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
	<meta content="utf-8" http-equiv="encoding"/>

	<title>Civi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


	<link rel="stylesheet" type="text/css" href="/fonts/fonts.css"/>


	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/bower/angular-load/angular-load.min.js"></script>
	<script src="/bower/angular-resource/angular-resource.min.js"></script>
	<script src="/bower/angular-sanitize/angular-sanitize.min.js"></script>
	<!-- angular-ui-switch -->
	<script src="/bower/angular-ui-switch/angular-ui-switch.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bower/angular-ui-switch/angular-ui-switch.min.css"/>

	<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/bower/bootstrap-social/bootstrap-social.css"/>

	<script language="javascript" src="/bower/underscore/underscore-min.js"></script>

	<!-- Directives -->
	<script language="javascript" src="/jslib/civi-app.js"></script>
	<script language="javascript" src="/jslib/directives/hello-user.js"></script>
	<script language="javascript" src="/jslib/directives/cookies-warning.js"></script>
	<script language="javascript" src="/jslib/directives/list-xsds.js"></script>
	<script language="javascript" src="/jslib/directives/edit-in-place.js"></script>
	<script language="javascript" src="/jslib/directives/formatter-editors.js"></script>

	<!-- Controllers -->
	<script language="javascript" src="/jslib/edit-formatter-controller.js"></script>
	<script language="javascript" src="/jslib/confirm-controller.js"></script>

	<!-- Code Mirror -->
	<link rel="stylesheet" type="text/css" href="/bower/codemirror/lib/codemirror.css"/>
	<script language="javascript" src="/bower/angular-ui-codemirror/ui-codemirror.js"></script>

	<!-- Last style-->
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>


</head>
<body>
<div id="civi-app" ng-app="civi">
	<div ng-controller="TemplateCtrl" id="civi-template">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Curricu.li</a>
				</div>

				<div>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<hello-user user="user"/>
						</li>
						<li></li>
						<li class="active"><a href="/disclaimer">Disclaimer</a></li>
						<li class="active"><a href="/about">About</a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="growl">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"
				   close="closeAlert($index)">{{alert.msg}}
			</alert>
		</div>

		<cookies-warning user="user" close="dd"/>


		<div class="container">

			<alert type="danger" close="showDevelopmentWarning = false" ng-show="false">
				This site is in development. Data here may disappear without notice.
			</alert>


			<div id="page-content">
				Page content goes here
			</div>
		</div>
	</div>

</div>

<div id="mirador-script">

</div>


</body>
</html>

