<!DOCTYPE html>
<html lang="en">
<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="utf-8" http-equiv="encoding"/>

    <title>Civi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" type="text/css" href="/fonts/fonts.css"/>
    <script src="https://use.fontawesome.com/92a2e79136.js"></script>

    <script src="/assets/angular/angular.js"></script>
    <script src="/assets/angular-route/angular-route.js"></script>
    <script src="/assets/angular-ui-router/angular-ui-router.js"></script>
    <script src="/assets/angular-load/angular-load.js"></script>
    <script src="/assets/angular-resource/angular-resource.js"></script>
    <script src="/assets/angular-sanitize/angular-sanitize.js"></script>
    <!-- angular-ui-switch -->
    <script src="/assets/angular-ui-switch/angular-ui-switch.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/angular-ui-switch/angular-ui-switch.css"/>

    <script src="/assets/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/bootstrap-social/bootstrap-social.css"/>

    <script language="javascript" src="/assets/underscore/underscore.js"></script>

    <!-- Directives -->
    <script language="javascript" src="/jslib/civi-app.js"></script>
    <script language="javascript" src="/jslib/directives/hello-user.js"></script>
    <script language="javascript" src="/jslib/directives/cookies-warning.js"></script>
    <script language="javascript" src="/jslib/directives/list-xsds.js"></script>
    <script language="javascript" src="/jslib/directives/edit-in-place.js"></script>
    <script language="javascript" src="/jslib/directives/formatter-editors.js"></script>

    <!-- Controllers -->
    <script language="javascript" src="/jslib/edit-formatter-controller.js"></script>
    <script language="javascript" src="/jslib/confirm-controller.js"></script>

    <!-- Code Mirror -->
    <link rel="stylesheet" type="text/css" href="/assets/codemirror/codemirror.css"/>
    <script language="javascript" src="/assets/angular-ui-codemirror/ui-codemirror.js"></script>

    <!-- Last style-->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>


</head>
<body>
<div id="civi-app" ng-app="civi">
    <div ng-controller="TemplateCtrl" id="civi-template">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Curricu.li</a>
                </div>

                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <hello-user user="user"/>
                        </li>
                        <li></li>
                        <li class="active"><a href="/disclaimer">Disclaimer</a></li>
                        <li class="active"><a href="/about">About</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="growl">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}"
                   close="closeAlert($index)">{{alert.msg}}
            </alert>
        </div>

        <cookies-warning user="user" close="dd"/>


        <div class="container">

            <alert type="danger" close="showDevelopmentWarning = false" ng-show="false">
                This site is in development. Data here may disappear without notice.
            </alert>


            <div id="page-content">
                Page content goes here
            </div>
        </div>
    </div>

</div>

<div id="mirador-script">

</div>


</body>
</html>

