<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Template</h3>
        <br/>

        <p>
            Hints have influence on how the document is rendered, both on screen and in the document output.
            They contain:
        <ul>
            <li>
                Filed labels, e.g. to render <i>firstName</i> as
                <ii>First name</ii>
                : <code>firstName=First name</code>
            </li>
            <li>
                Enum labels, e.g.:<code>enum.sexType.M=Male</code>
            </li>
            <li>
                Input types, e.g <code>input.tag.introduction=textarea</code>
            </li>
        </ul>
        </p>
    </div>
    <div class="panel-body">
        <div ui-codemirror="{ onLoad : codemirrorLoaded }"
             ng-model="formatter.content"
             ui-codemirror-opts="editorOptions">
        </div>
    </div>

    <div class="panel-footer clearfix">
        <div  ng-show="formatter.editable" class="pull-left">
            <input ng-model="formatter.name"/>
            <button type="button" class="btn btn-small" ng-click="rename()"
                    ng-disabled="!canRename()">
                Rename
            </button>
        </div>
        <div class="pull-right">
            <button ng-show="formatter.editable",
                    type="button" class="btn btn-primary" ng-click="ok()"
            ng-disabled="!canSave()">
                Save & Exit
            </button>
            <button type="button" class="btn btn-default" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>